.sharing-text {
  float: right;
  width: 65%;
  text-align: right;
  margin-top: -1.4em;
}

.red-highlight-border {
  border: #ed5244 dashed 3px;
}

.green-highlight-border {
  border: #52bf62 dashed 3px;
}

.hide {
  display: none !important;
}

#extension-root * {
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
}
.rc-tooltip-hidden {
  display: none;
}
